<div class="form-area">
  <form [formGroup]="registerForm" class="container">
    <div class="header" [align]="'center'">
      <div class="row w-50">
        <div class="col-md-6 mb-3">
          <mat-label>First Name*</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input
            class="input-form"
              type="text"
              matInput
              formControlName="firstname"
              required
            />
            <mat-error
              *ngIf="
                registerForm.get('firstname')?.hasError('required') &&
                registerForm.get('firstname')?.touched
              "
            >
              First Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6 mb-3">
          <mat-label>Last Name*</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input
              type="text"
              matInput
              formControlName="lastname"
              required
            />
            <mat-error
              *ngIf="
                registerForm.get('lastname')?.hasError('required') &&
                registerForm.get('lastname')?.touched
              "
            >
              Last Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row w-50">
        <div class="col-md-6 mb-3">
          <mat-label>Gender*</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select name="gender" formControlName="gender">
              <mat-option *ngFor="let gender of genders" [value]="gender.value">
                {{ gender.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registerForm.get('gender')?.hasError('required')">
              Gender is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6 mb-3">
          <mat-label>Score*</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input
              type="number"
              matInput
              formControlName="score"
              required
            />
            <mat-error *ngIf="registerForm.get('score')?.hasError('required')">
              Score is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="registerForm.get('score')?.hasError('min')">
              Minimum is 0
            </mat-error>
            <mat-error *ngIf="registerForm.get('score')?.hasError('max')">
              Maximum is 100
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div mat-title-action [align]="'center'">
        <div class="divBtn">
          <button
            [disabled]="registerForm.invalid"
            type="button"
            *ngIf="!isUpdateActive"
            class="btn btn-primary"
            (click)="handleSubmit()"
          >
            {{ actionBtn }}
          </button>
          <button
            [disabled]="registerForm.invalid"
            type="button"
            *ngIf="isUpdateActive"
            class="btn btn-primary"
            (click)="handleSubmitEdit()"
          >
            {{ actionBtn }}
          </button>
          <button type="button" class="btn btn-muted" (click)="handleCancel()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </form>
</div>




<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

<ng-container matColumnDef="id">
  <th class="headofTable center-textandwith" mat-header-cell *matHeaderCellDef mat-sort-header sticky>No.</th>
  <td class="center-textandwith" mat-cell *matCellDef="let row" [ngClass]="{'even-row': row.id % 2 === 0, 'odd-row': row.id % 2 !== 0}" sticky>{{ row.id }}</td>
</ng-container>

<ng-container matColumnDef="action">
  <th class="headofTable center-textandwith" mat-header-cell *matHeaderCellDef mat-sort-header sticky></th>
  <td class="center-textandwith" mat-cell *matCellDef="let row" [ngClass]="{'even-row': row.id % 2 === 0, 'odd-row': row.id % 2 !== 0}" sticky>
    <button class="m-3 no-outline" (click)="editUser(row.id)" mat-raised-button color="primary">
      <mat-icon>edit</mat-icon>
    </button>
  </td>
</ng-container>

<ng-container matColumnDef="firstname">
  <th class="headofTable" mat-header-cell *matHeaderCellDef mat-sort-header  sticky>First Name</th>
  <td mat-cell *matCellDef="let row" [ngClass]="{'even-row': row.id % 2 === 0, 'odd-row': row.id % 2 !== 0}" sticky>{{ row.firstname }}</td>
</ng-container>

<ng-container matColumnDef="lastname">
  <th class="headofTable" mat-header-cell *matHeaderCellDef mat-sort-header sticky>Last Name</th>
  <td mat-cell *matCellDef="let row" [ngClass]="{'even-row': row.id % 2 === 0, 'odd-row': row.id % 2 !== 0}" sticky>{{ row.lastname }}</td>
</ng-container>

<ng-container matColumnDef="gender" >
  <th class="headofTable center-text" mat-header-cell *matHeaderCellDef mat-sort-header sticky >Gender</th>
  <td mat-cell *matCellDef="let row" [ngClass]="{'even-row': row.id % 2 === 0, 'odd-row': row.id % 2 !== 0}" sticky
      (mouseover)="showGender(row.gender)"
      (mouseout)="hideGenderTooltip()">
    <div matTooltip="{{ tooltipContent }}" [matTooltipDisabled]="!showGender" class="center-text">
      {{ row.gender }}
    </div>
  </td>
</ng-container>

<ng-container matColumnDef="score">
  <th class="headofTable center-text" mat-header-cell *matHeaderCellDef mat-sort-header stickyEnd>Score</th>
  <td mat-cell *matCellDef="let row" [ngClass]="{'even-row': row.id % 2 === 0, 'odd-row': row.id % 2 !== 0}" class="center-text" stickyEnd>{{ row.score | number : "2.2-2" }}</td>
</ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
